.header {
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    height: auto;
}

.footer {
    width: 100%;
    background-color:rgb(220, 237, 242);
    color: grey;
    text-align: center;
    font-style: italic;
    height:auto;
  }

.container {
    text-align: center;
}

.poem {
    height: auto;
}

.fytobobby {
    float: right;
}