.flex-container {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.titlebar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #D8F3DC;
}

.titlebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8F3DC;
    text-align: center;
    color: black;
    height: 100px;
    padding: 10px;
}

h1 {
    size: 3em;
    flex-wrap: wrap;
}

h2 {
    size: 2em;
    text-decoration: underline;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #2D6A4F;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    color: black;
    height: 40px;
    padding: 10px;
    background-color: #2D6A4F;
}

.content-title {
    display: flex;
    width: 100%;
}

.content-paragraph {
    display: flex;
    width: 100%;
}

.table {
    display:flex;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
    text-align: center;
}

.table-header {
    background-color:#74C69D;
    height: 40px;
}

tr:nth-child(odd) {
    background-color: #D8F3DC;
 }

 tr:first-child {
    background-color: #74C69D;
}

.name {
    width: 15%;
}

.type {
    width: 10%;
}

.structure {
    width: 20%;
}

.cas {
    width: 5%;
}

.function {
    width: 15%;
}

.culinary {
    width: 15%;
}

.notes {
    width: 15%;
}

.ref {
    width: 5%;
}