.container {
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    padding: 1px;
}

.item-header-left {
    background-color:white;
    padding: 2px;
}

.item-header-middle {
    background-color:#74C69D;
    height: 100px;
}

.item-header-right {
    background-color:white;
    height: 100px;
    padding: 2px;
}

.header-text {
    text-align: center;
}

.item-body-left {
    background-color:white;
    height: auto;

}

.item-body-middle {
    background-color: #D8F3DC;
    height: auto;
    padding: 20px;

}

.item-body-right {
    background-color:white;
    height: auto;
}

.body-text {
    text-align: left;
}
