.flex-container {
    display: flex;
    flex-wrap:wrap;
    border-style: solid;
    border-width: 1px;
    padding: 10%;
}

.flex-item {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: #D8F3DC;
    text-align: left;
}

.flex-item-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:#74C69D;
    text-align: center;  
}

.flex-item-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D8F3DC;
}

.flex-padder {
    width: 5%;
    background-color: #D8F3DC;
}